@model KnowledgeTestingSystem.Models.UserStatisticViewModel

@{
    ViewBag.Title = "Result";
}


<div class="card border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray mb-4">@ViewBag.Title</h1>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CountCorrectAnswer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CountCorrectAnswer)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DateTimeStart)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateTimeStart)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DateTimeEnd)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateTimeEnd)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PercentCorrectAnswer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PercentCorrectAnswer)
                        </dd>
                        <dd>
                            @Html.ActionLink("Back to List", "Index", "Home","", new { @class = "button-custom-test btn" })

                        </dd>
                    </dl>
                </div>
               
            </div>
        </div>
    </div>
</div>
