@model IEnumerable<KnowledgeTestingSystem.Models.TestViewModel>

@{
    ViewBag.Title = "GetTests";
}

<h2>Tests</h2>

<p>
    @Html.ActionLink("Create New", "CreateTest")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThemeOfTest)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeOfTest)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateTest", new {id = item.Id}) |
                @Html.ActionLink("Delete", "DeleteTest", new {id = item.Id})
            </td>
        </tr>
    }

</table>