@model KnowledgeTestingSystem.Models.TestViewModel

@{
    ViewBag.Title = "InformAboutTest";
}

<h2>InformAboutTest</h2>
<div class="container ">
    <div class="row text-center text-lg-left">
        @using (Html.BeginForm("Index", "Home",
            new
            {
                ViewBag.ReturnUrl
            },
            FormMethod.Post,
            new
            {
                @class = "form-row col-md-4"
            }))
        {
            <div class="card shadow">
                <img class="card-img-top" src="@Url.Content(Model.CoverImage)" alt="@Model.CoverImage" style="display: block; height: 250px; width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayNameFor(model => model.Name)
                    </h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Name)
                    </p>
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.ThemeOfTest)
                    </p>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.ThemeOfTest)

                    </p>
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.TimeMinutes)
                    </p>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.TimeMinutes)
                    </p>
                    <div class="btn-group">
                        @Html.ActionLink("Take", "Testing", "Test", new { Id = Model.Id }, null) |
                        @*<input type="hidden" value=@Model.Id name="Id">
                        <input class="btn btn-light" type="submit" value="Take" />*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>
