@model KnowledgeTestingSystem.Models.TestViewModel

@{
    ViewBag.Title = "Information About Test";
}

<div class="card border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray mb-4">@ViewBag.Title</h1>
                    @using (Html.BeginForm("Index", "Home",
                        new
                        {
                            ViewBag.ReturnUrl
                        },
                        FormMethod.Post,
                        new
                        {
                            @class = "form-row col-md-4"
                        }))
                    {
                        <dl class="dl-horizontal">
                            <dd>
                                <img class="card-img-top justify-content-sm-center" src="@Url.Content(Model.CoverImage)" alt="CoverImage" style="height: 250px; width: 250px;">
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TimeMinutes)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TimeMinutes)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ThemeOfTest)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ThemeOfTest)
                            </dd>


                            <dd>
                                @Html.ActionLink("Start", "Testing", "Test", new {Model.Id}, new {@class = "button-custom-test btn"})
                            </dd>
                        </dl>
                        @*<input type="hidden" value=@Model.Id name="Id">
                            <input class="btn btn-light" type="submit" value="Take" />*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>