@model KnowledgeTestingSystem.Models.TestViewModel

@{
    ViewBag.Title = "Testing";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.StarTime)
    @Html.HiddenFor(x => x.Id)

    for (var i = 0; i < Model.Question.Count; i++)
    {
        @Html.HiddenFor(x => x.Question[i].Id)
        <div class="form-group ">
            <div id="timer"></div>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.DisplayFor(modelItem => Model.Question[i].Text)

                @if (Model.Question[i].Image != null)
                {
                    <div>
                        @Html.DisplayFor(modelItem => Model.Question[i].Image)

                    </div>
                }
            </div>
            <div class="form-group ">
                @for (var j = 0; j < Model.Question[i].Answer.Count; j++)
                {
                    @Html.CheckBoxFor(x => x.Question[i].Answer[j].IsSelected)
                    // @*@Html.RadioButtonFor(x=>x.Question[i].Answer[j].Selected , Model.Question[i].Answer[j].Id,new {Id=Model.Question[i].Answer[j].Id})//Model.Question[i].Answer[j].Text, false, new {id = Model.Question[i].Answer[j].Id})
                    @Html.HiddenFor(x => x.Question[i].Answer[j].Id)
                    @Html.HiddenFor(x => x.Question[i].Answer[j].IsCorrect)
                    // <input id=@answer.Id name="Id" type="hidden" value=@answer.Id />
                    <span>@Model.Question[i].Answer[j].Text</span>

                    <br/>
                }
            </div>
        </div>
    }
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Send"/>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function() {
            startCountdown(@Model.TimeMinutes);

        });

        function startCountdown(timeLeft) {
            var time = timeLeft * 60;
            var interval = setInterval(countdown, 1000);
            update();

            function countdown() {
                if (--time > 0) {
                    update();
                } else {
                    clearInterval(interval);
                    update();
                    completed();
                }
            }

            function update() {
                var seconds = time % 60;
                var minutes = Math.floor(time / 60) % 60;
                var hours = Math.floor(time / 60 / 60);

                document.getElementById('timer').innerHTML = '' + hours + ':' + minutes + ':' + seconds;
            }

            function completed() {
                window.location.href = "@Url.Action("NotCompleteTest", "Test")";

            }

        }
    </script>

}