@model KnowledgeTestingSystem.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
    {
        @Html.AntiForgeryToken()
        <div class="card border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">

                                <h1 class="h4 text-gray mb-4">Create an Account!</h1>
                            </div>

                            <hr/>
                            @Html.ValidationSummary("", new {@class = "text-danger"})

                            <div class="form-group ">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control form-control-custom"})
                                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control  form-control-custom"})
                                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    @Html.CheckBoxFor(m => m.RememberMe, new {@class = "custom-control-input"})
                                    @Html.LabelFor(m => m.RememberMe, new {@class = "custom-control-label"})

                                </div>
                            </div>
                            <hr>
                            <input type="submit" value="Log in" class="btn btn-primary form-register-btn btn-block"/>
                            <hr>
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}